* {
  box-sizing: border-box;
}

body {
  background-color: rgb(0, 7, 46);
  color: rgb(255, 254, 235);
  font-family: "helvetica", sans serif;
}

@media screen and (max-width: 483px) {
  body {
    background-color: rgb(70, 17, 17);
  }
}

@media screen and (max-width: 300px) {
  body {
    background-color: rgb(255, 251, 0);
    color: rgb(37, 37, 37);
  }
}
